@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
body {
    background: #dee1e2;
    min-height: 100vh;
    overflow-x: hidden;margin-top: 68px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background: #ffffff;
    padding: 20px 40px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.content {
    max-width: 1200px;
    margin: auto;
}
.logo {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.group {
    display: flex;
    align-items: center;
}
header ul {
    position: relative;
    display: flex;
    gap: 30px;
}
header ul li {
    list-style: none;
}
header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}
.search .icon {
    margin-left: 10px;
}

h1 {margin: 100px 0 30px 0; text-transform: uppercase;}
h2, h3 {margin: 40px 0 30px 0;}
.flex {display: flex;gap: 15px}
.delete {color: darkred}
blockquote {
    margin: 0;
    background: #ffffff;
    color: #474C4F;
    padding: 50px 30px 30px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.9;
}
blockquote:before {
    content: "\02EE";
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    color: #474C4F;
    font-size: 50px;
    background: #ffffff;
    padding: 0 15px;
    display: block;
    height: 38px;
}
blockquote:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    right: 15px;
    height: 4px;
    border-top: 1px dotted #474C4F;
    border-bottom: 1px dotted #474C4F;
}
blockquote p {
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 1.4;
}
table {

    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
th {
    color: #fff;
    padding: 10px;
    background: black;
    margin-bottom: 30px;
    text-align: inherit;
}
td {
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 10px;
    transition: .3s linear;
}
tr:hover td {
    color: #6699ff;
}

form {
    margin-bottom: 40px;
}

fieldset {
    display: flex;
    align-items: end;
    gap: 10px;
    padding: 20px;
    border: 2px solid;
}
legend {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

input, select {
    padding:10px;
    margin:10px 10px 10px 0;
    max-height: 40px;
}

.add-button {
    background: black;
    color: #ffffff;
    border: black;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.card {
    display: grid;
    background: #d2d6e1;
    grid-template-columns: 200px auto;
    padding: 3rem;
    gap: 20px;
}
.card h1 {
    margin: 7px 0;
}
.card h2 {
    color: #485373;
}
.card h2, .card h3{
    margin: 16px 0;
}
.card .ava {
    max-width: 180px;
}
.card .ava img{
    display: block;
    width: 100%;
    border: 3px solid #ffffff;
    border-radius: 50%;
}