<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Курсы</title>
</head>
<body>
<#include "../header/navigation.ftlh">
<div class="content">
<h1>Курсы</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <#if role == 'ADMIN'>
            <th>Действия</th>
        </#if>
    </tr>
    <#list courses as course>
        <tr>
            <td>${course.id}</td>
            <td>${course.title}</td>
            <#if role == 'ADMIN'>
            <td>
                <a href="/courses/${course.id}">Перейти</a>
                <a href="/courses/${course.id}/delete">Удалить</a>
            </td>
            </#if>
        </tr>
    </#list>
</table>
<h3>Добавить курс ?</h3>
<form action="/courses" method="post" class="description-from-type-label">
    <div>
        <label>Название курса</label>
        <input type="text" name="title" placeholder="Название"/>
    </div>
    <div>
        <label>Описание курса</label>
        <input type="text" name="description" placeholder="Описание"></input>
    </div>
    <div>
        <label>Старт: </label>
        <input type="date" name="start"/>
    </div>
    <div>
        <label>Конец: </label>
        <input type="date" name="finish"/>
    </div>
    <input autofocus type="submit" value="Добавить"/>
</form>
</div>
<style>
    td:nth-child(2) {
        font-weight: bold !important;
    }
</style>
<#include "../footer/footer_code.ftlh">
</body>
</html>