<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Урок ${lesson.title}</title>
</head>
<body>
<#include "../header/navigation.ftlh">
<div class="content">
<h1>${lesson.title}</h1>
<blockquote>${lesson.description}</blockquote>
    <h3> Лекция будет проходить с ${lesson.start} до ${lesson.finish}</h3>

</div>
<#include "../footer/footer_code.ftlh">
</body>
</html>